/*обнуление*/
*,
*::before,
*::after,
body {
	list-style: none;
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	overflow-x: hidden;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.section_1 {
	display: flex;
	justify-content: center;
	background-image: url(./img/black-back.jpg);
	background-size: 40%;
	width: 100%;
	min-height: 100vh;
}
.wrap-section_1 {
	width: 90%;
	margin: auto;
}
.h1-title {
	width: 100%;
	text-align: center;
	margin: 0.5em 0;
	font-size: clamp(0.5rem, 10vw, 3rem);
}
.calculate-wrap {
	max-width: 400px;
	min-height: 300px;
	width: 100%;
	margin: auto;
	/* padding-top: 5%;
	padding-bottom: 5%; */
}

.input-calc-wrap {
	position: relative;
	overflow-y: hidden;
	/* overflow: scroll; */
	/* background-color: red; */
}
.wrap-main-command-calc {
	font-size: 0;
	background-color: #1f1f1f;
}

.input-calc {
	/* padding: 5%; */
	padding-left: 5%;
	/* overflow: scroll; */
	width: 100%;
	color: white;
	font-size: clamp(1rem, 10vw, 2.5rem);
	/* font-size: 60px; */
	min-height: 100px;
	background-color: #38393d;
	transition: all 0.5s linear;
}

.input-calc-show-message {
	min-height: 130px;
}

.calc-message {
	/* display: none; */

	transition: 0.5s linear all;
	opacity: 0;
	font-size: clamp(1rem, 10vw, 1.3rem);
	/* font-size: 2vw; */
	position: absolute;
	color: red;
	bottom: 0;
	right: 0;
	margin-bottom: 0.5%;
	margin-right: 3%;
	transform: translateY(100%);
}

.calc-message-show {
	opacity: 1;
	transform: translateY(0%);
}

.command-calc {
	color: white;
	margin: 1.2%;
	aspect-ratio: 1 / 1;
	border-radius: 25%;
	font-size: clamp(1rem, 10vw, 2rem);
	width: 22%;
	background-color: #28282a;
}
.command-calc:nth-child(4n + 1) {
	margin-left: 2.4%;
}
.command-calc:nth-child(1) {
	margin-top: 2.4%;
}
.command-calc:last-child {
	margin-bottom: 2.4%;
}

.command-calc-operation {
	background-color: #004a77;
}
.command-calc-AC {
	background-color: #0f5324;
}

.command-calc:hover {
	background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
	cursor: pointer;
}
.history-of-actions {
	width: 100%;
	background-color: #38393d;
	height: 100px;
	overflow-x: hidden;
	overflow: auto;
	border: 1px transparent solid;
}
.history-of-actions::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.item-history-of-actions::-webkit-scrollbar {
	width: 10px; /* в основном для вертикальных полос прокрутки */
	height: 10px; /* в основном для горизонтальных полос прокрутки */
}
.item-history-of-actions::-webkit-scrollbar-thumb {
	/* плашка-бегунок */
	background: #999;
}
.item-history-of-actions::-webkit-scrollbar-track {
	/* фон */
	background: #333;
}

.item-history-of-actions {
	overflow-y: hidden;
	position: relative;
	white-space: nowrap;
	width: 95%;
	margin: auto;
	margin-top: 2.5%;
	min-height: 75px;
	height: 1px;
	background-color: #28282a;

	border-radius: 25px 25px 0 0;
}
.item-history-of-actions button {
	padding: 5%;
	position: relative;
	display: block;
	background-color: transparent;
	cursor: pointer;
	top: 50%;
	transform: translate(0, -50%);
	font-size: clamp(1rem, 10vw, 3rem);
	color: white;
}
